@charset "utf-8";

$kurly-c1:#5f0080;
$kurly-c2:#4f177a;
$kurly-c3:#8d4cc4;
$kurly-c4:#cba3e9;

$default-c1:#fff;
$default-c2:#000;
$default-c3:#d3d3d3;
$default-c4:#e7e7e7;
$default-c5:#929292;
$default-c6:#787878;
$default-c7:#555;
$default-c8:#565656;
$default-c9:#1a1a1a;
$default-c10:#f9f9f9;
$default-c11:#ebebeb;
$default-c12:#db0000;