<header class="header @@if (type === 'back') {sub}">
	@@if (type === "logo") {
  <h1 class="logo">
    <a href="#"><span class="blind">Kurly Nextmile</span></a>
  </h1>
	}
	@@if (type === "back") {
  <div class="before">
    <a href="#">
      <span class="blind">
        before
      </span>
    </a>
  </div>
  <h2>@@title</h2>
  }
  <div class="gnb">
    <a href="#" class="open">
      <span class="blind">
        menu
      </span>
    </a>
  </div>
  <div class="navopen">
    <div class="navtop login_user">
      <a href="#" class="login">홍길동<span>님</span></a>
      <a href="#" class="close">
        <span class="blind">
          close
        </span>
      </a>
      <div class="mybtn">
        <a href="#">견적문의내역</a>
        <a href="#">회원정보수정</a>
        <a href="#">로그아웃</a>
      </div>
    </div>

    <div class="toggle_menu">
      <ul>
        <li>
          <a href="#">회사소개 <span class="nav_drop"></span></a>
          <ul>
            <li><a href="#">회사개요</a></li>
            <li><a href="#">오시는길</a></li>
          </ul>
        </li>
        <li>
          <a href="#">서비스 <span class="nav_drop"></span></a>
          <ul>
            <li><a href="#">새벽배송</a></li>
            <li><a href="#">풀필먼트</a></li>
            <li><a href="#">시스템 소개</a></li>
          </ul>
        </li>
        <li>
          <a href="#">요금안내 <span class="nav_drop"></span></a>
          <ul>
            <li><a href="#">요금안내</a></li>
            <li><a href="#">견적문의</a></li>
            <li><a href="#">송장조회</a></li>
          </ul>
        </li>
        <li class="recruit">
          <a href="#">채용</a>
        </li>
        <li>
          <a href="#">고객지원 <span class="nav_drop"></span></a>
          <ul>
            <li><a href="#">이벤트</a></li>
            <li><a href="#">이용가이드</a></li>
            <li><a href="#">1:1문의</a></li>
            <li><a href="#">공지사항</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="navbanner">
      <h2>새벽배송 서비스<br>지금바로 경험해보세요</h2>
      <a href="#">
	      견적문의 바로가기<span></span>
      </a>
    </div>
  </div>
</header>
